{% extends 'master.html' %}

{% block body %}

<main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
     <div class="container" data-aos="fade-up">

       <div class="row" style="text-align:center;">
         <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
             <div class="icon"><i class="bx bx-world"></i></div>
             <h4 class="title"><a href="form.html">Tourist Visa</a></h4>
             <p class="description">Travel to your desired places or go on a vacation and create everlasting memories.</p>
           </div>
         </div>

         <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
             <div class="icon"><i class="bx bx-world"></i></div>
             <h4 class="title"><a href="form.html">Student Visa</a></h4>
             <p class="description">Study in your desired University and get your academic qualification.</p>
           </div>
         </div>

         <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
             <div class="icon"><i class="bx bx-world"></i></div>
             <h4 class="title"><a href="form.html">Business Visa</a></h4>
             <p class="description">Expand your business by establishing relationship and connections around the world.</p>
           </div>
         </div>

         <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
             <div class="icon"><i class="bx bx-file"></i></div>
             <h4 class="title"><a href="form.html">Passport</a></h4>
             <p class="description">Apply for passport and travel the places. Make your dreams come true.</p>
           </div>
         </div>

       </div>

     </div>
   </section><!-- End Featured Services Section -->

   <!-- ======= About Section ======= -->
   <section id="about" class="about section-bg">
     <div class="container" data-aos="fade-up">

       <div class="section-title">
         <h2>About</h2>
         <h3>Find Out More <span>About Us</span></h3>
         <p>e-VP also stands for electronic- Visa and Passport aims to provide people with
           easy and fast submission of application without having to come to organization.</p>
       </div>

       <div class="row"style="text-align:justify;">
         <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
           <img src="/static/img/window.jpg" class="img-fluid" alt="">
         </div>
         <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
           <h3>Introduction</h3>
           <p class="fst-italic">
             e-VP is responsible for formulating and implementing Nepal’s foreign policy. 
             Strengthening Nepal’s bilateral, regional and multilateral relations, projecting and promoting 
             Nepal’s image in international arena, promoting Nepal’s development diplomacy, protecting the rights 
             and interests of Nepalis living abroad are the key tasks of the Ministry. It also provides passport 
             and consular services and handles protocol matters. In fulfilling its responsibilities, the Ministry 
             coordinates with all relevant government agencies, Nepali missions abroad as well as diplomatic missions 
             and international organisations accredited to Nepal. It also consults private sector and non-governmental 
             organisations on policy as well as implementation related matters within its jurisdiction.
           </p>
           <ul>
             <li>
               <i class="bx bx-pin"></i>
               <div>
                 <h5>Vision</h5>
                 <p>Protection and promotion of national interest of Nepal within the overall framework of foreign policy through effective conduct of diplomacy</p>
               </div>
             </li>
             <li>
               <i class="bx bx-bullseye"></i>
               <div>
                 <h5>Mission</h5>
                 <p>To strengthen close, cordial and friendly relations with immediate neighbors, South Asian countries,
                    major powers and other countries; play an active role in the United Nations, and other international and regional organizations and forums; to safeguard and promote rights and interests of Nepali nationals living abroad; and to enhance Nepal’s image in international arena</p>
               </div>
             </li>
           </ul>
           <p>
             Currently, there are 39 Nepali diplomatic missions abroad – 30 Embassies, 3 Permanent Missions and 6 Consulates General.
           </p>
         </div>
       </div>

     </div>
   </section><!-- End About Section -->

   <!-- ======= Counts Section ======= -->
   <section id="counts" class="counts">
     <div class="container" data-aos="fade-up">

       <div class="row">

         <div class="col-lg-3 col-md-6">
           <div class="count-box">
             <i class="bi bi-emoji-smile"></i>
             <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
             <p>Happy Clients</p>
           </div>
         </div>

         <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
           <div class="count-box">
             <i class="bi bi-journal-richtext"></i>
             <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
             <p>Visa Applied</p>
           </div>
         </div>

         <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
           <div class="count-box">
             <i class="bi bi-headset"></i>
             <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
             <p>Hours Of Support</p>
           </div>
         </div>

         <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
           <div class="count-box">
             <i class="bi bi-people"></i>
             <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
             <p>Hard Workers</p>
           </div>
         </div>

       </div>

     </div>
   </section><!-- End Counts Section -->

   <!-- ======= Services Section ======= -->
   <section id="services" class="services">
     <div class="container" data-aos="fade-up">

       <div class="section-title">
         <h2>Services</h2>
         <h3>Check our <span>Services</span></h3>
         <p>We provide services relating to both Visa and Passport.</p>
       </div>

       <div class="row">
         <div class="col-lg-3 col-md-3 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
           <div class="icon-box">
             <div class="icon"><i class="bx bx-world"></i></div>
             <h4><a href="form.html">Tourist Visa</a></h4>
             <p>Travel to your desired places or go on a vacation and create everlasting memories.</p>
           </div>
         </div>

         <div class="col-lg-3 col-md-3 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
           <div class="icon-box">
             <div class="icon"><i class="bx bx-world"></i></div>
             <h4><a href="form.html">Student Visa</a></h4>
             <p>Study in your desired University and get your academic qualification.</p>
           </div>
         </div>

         <div class="col-lg-3 col-md-3 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
           <div class="icon-box">
             <div class="icon"><i class="bx bx-world"></i></div>
             <h4><a href="form.html">Business Visa</a></h4>
             <p>Expand your business by establishing relationship and connections around the world.</p>
           </div>
         </div>

         <div class="col-lg-3 col-md-3 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
           <div class="icon-box">
             <div class="icon"><i class="bx bx-file"></i></div>
             <h4><a href="form.html">Passport</a></h4>
             <p>Apply for passport and travel the places. Make your dreams come true.</p>
           </div>
         </div>

       </div>

     </div>
   </section><!-- End Services Section -->

      <!-- ======= Team Section ======= -->
   <section id="team" class="team section-bg">
     <div class="container" data-aos="fade-up">

       <div class="section-title">
         <h2>Team</h2>
         <h3>Our Hardworking <span>Team</span></h3>
         <p>e-VP consists of members who works to provide the better service to their clients.</p>
       </div>

       <div class="row">

         <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
           <div class="member">
             <div class="member-img">
               <img src="/static/img/ashmita.png" class="img-fluid" alt="">
               <div class="social">
                 <a href="https://www.facebook.com/asmita.thapa.96995"><i class="bi bi-facebook"></i></a>
                 <a href="https://www.instagram.com/asmitathapamagar/"><i class="bi bi-instagram"></i></a>
                 <a href=""><i class="bi bi-linkedin"></i></a>
               </div>
             </div>
             <div class="member-info">
               <h4>Ashmit Thapa</h4>
               <span>Senior. Manager, Digital Products</span>
             </div>
           </div>
         </div>

         <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
           <div class="member">
             <div class="member-img">
               <img src="/static/img/rinu.jpg" class="img-fluid" alt="">
               <div class="social">
                 <a href="https://www.facebook.com/reenu.maharjan.5"><i class="bi bi-facebook"></i></a>
                 <a href="https://www.instagram.com/reenu.maharjan.5/"><i class="bi bi-instagram"></i></a>
                 <a href=""><i class="bi bi-linkedin"></i></a>
               </div>
             </div>
             <div class="member-info">
               <h4>Rinu Maharjan</h4>
               <span>Senior Risk Management Analyst - Cybersource </span>
             </div>
           </div>
         </div>

         <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
           <div class="member">
             <div class="member-img">
               <img src="/static/img/neha.jpg" class="img-fluid" alt="">
               <div class="social">
                 <a href="https://www.facebook.com/TamangNuYang"><i class="bi bi-facebook"></i></a>
                 <a href="https://www.instagram.com/yang_4to4_/"><i class="bi bi-instagram"></i></a>
                 <a href=""><i class="bi bi-linkedin"></i></a>
               </div>
             </div>
             <div class="member-info">
               <h4>Neha Lama Tamang</h4>
               <span>Senior Manager, Contactless and Urban Mobility Programs
               </span>
             </div>
           </div>
         </div>

       </div>

     </div>
   </section><!-- End Team Section -->

   <!-- ======= Contact Section ======= -->
   <section id="contact" class="contact">
     <div class="container" data-aos="fade-up">

       <div class="section-title">
         <h2>Contact</h2>
         <h3><span>Contact Us</span></h3>
       </div>

       <div class="row" data-aos="fade-up" data-aos-delay="100">
         <div class="col-lg-3">
           <div class="info-box mb-4">
             <i class="bx bx-map"></i>
             <h3>Our Address</h3>
             <p>Pilachhen, Lalitpur 44700, Bagmati, Nepal </p>
           </div>
         </div>

         <div class="col-lg-3 col-md-6">
           <div class="info-box  mb-4">
             <i class="bx bx-envelope"></i>
             <h3>Email Us</h3>
             <p> infoevp@gmail.com</p>
           </div>
         </div>

         <div class="col-lg-3 col-md-6">
           <div class="info-box  mb-4">
             <i class="bx bx-phone-call"></i>
             <h3>Call Us</h3>
             <p>+977 5523123</p>
           </div>
         </div>
     
         <div class="col-lg-3 col-md-6">
           <h5>Find us in Google Map</h5>
           <img src="/static/img/map.jpg" class="img-fluid" alt="">
         </div>

       </div>

     </div>
   </section><!-- End Contact Section -->

 </main><!-- End #main -->


{% endblock %}